body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    font-size: 2em;
}
h1{
    margin-top: 0;
    font-family:'Sacramento', cursive;
    font-size: 90px;
    color:#66BFBF;
    line-height: 2;
   }
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat',sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px;
    
    
}
.middle-container{
   
}

.bottom-container{
    background-color: #66BFBF;
    padding: 10px;
   
}
span{
    text-decoration: underline;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
.junior{
    border-radius: 50%;

 }

ol{
text-align: center;
list-style: none;
font-size: 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.name-color{
    color: white;
}